<h1>Movie Planner</h1>

<ul>
  {{#each movies}}
  <li>
    <p>
      {{this.id}}. {{this.movie}}

      <button data-movieid="{{this.id}}" class="delmovie">Delete movie!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a movie</h2>
<form id="createmovie" class="button-size">
  <textarea type="text" name="movie"></textarea>
  <button type="submit">Save movie!</button>
</form>

<h2>Update a movie</h2>
<form id="updatemovie" class="button-size">
  <select name="id">
		{{#each movies}}
			<option value="{{this.id}}">{{this.movie}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="movie" placeholder="movie"></textarea>
  <button type="submit">Update movie!</button>
</form>

<script type="text/javascript">
  $(".delmovie").on("click", function(event) {
    var id = $(this).data("movieid");

    // Send the DELETE request.
    $.ajax("/todos/" + id, {
      type: "DELETE"
    }).then(
      function() {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#createmovie").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newMovie = {
      movie: $("#createmovie [name=movie]").val().trim()
    };

    // Send the POST request.
    $.ajax("/todos", {
      type: "POST",
      data: newMovie
    }).then(
      function() {
        console.log("created new movie");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $("#updatemovie").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updatedMovie = {
      movie: $("#updatemovie [name=movie]").val().trim()
    };

    // Send the PUT request.
    $.ajax("/todos/" + id, {
      type: "PUT",
      data: updatedMovie
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
